- page_title _("Container Registry")
- @content_class = "limit-container-width" unless fluid_layout

%section
  .row.registry-placeholder.prepend-bottom-10
    .col-12
      - if Feature.enabled?(:vue_container_registry_explorer)
        #js-container-registry{ data: { endpoint: project_container_registry_index_path(@project),
          project_path: @project.full_path,
          "help_page_path" => help_page_path('user/packages/container_registry/index'),
          "two_factor_auth_help_link" => help_page_path('user/profile/account/two_factor_authentication'),
          "personal_access_tokens_help_link" => help_page_path('user/profile/personal_access_tokens'),
          "no_containers_image" => image_path('illustrations/docker-empty-state.svg'),
          "containers_error_image" => image_path('illustrations/docker-error-state.svg'),
          "repository_url" => escape_once(@project.container_registry_url),
          "registry_host_url_with_port" => escape_once(registry_config.host_port),
          character_error: @character_error.to_s } }
      - else
        #js-vue-registry-images{ data: { endpoint: project_container_registry_index_path(@project, format: :json),
          "help_page_path" => help_page_path('user/packages/container_registry/index'),
          "two_factor_auth_help_link" => help_page_path('user/profile/account/two_factor_authentication'),
          "personal_access_tokens_help_link" => help_page_path('user/profile/personal_access_tokens'),
          "no_containers_image" => image_path('illustrations/docker-empty-state.svg'),
          "containers_error_image" => image_path('illustrations/docker-error-state.svg'),
          "repository_url" => escape_once(@project.container_registry_url),
          "registry_host_url_with_port" => escape_once(registry_config.host_port),
          character_error: @character_error.to_s } }
